div
#header { font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: aliceblue; background-color: #1f2937 ; ; padding: 10px; display:flex; justify-content: space-around; 

}
.logo {font-weight: 800; margin-right: 150px;
font-size:larger;
}
.links { font-size: medium;

}
 ul {list-style-type: none; 
     
}
li {
    display: inline-block; margin: 8px;
}

#herocontainer {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
 

#hero { font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: aliceblue; 

background-color: #1f2937 ;
 
padding: 10px; 

padding: 20px;
padding-left: 80px;
}
h1 {
    max-width: 250px;
}
.paraone {
    max-width: 250px;
}
button {
    
    background-color: #386db8;
    color: aliceblue;
    border: solid;
    border-color: azure;
    border-width: 1.5px;
    
    flex-shrink: 0;
   border-radius: 4px;
}
img {  
    max-width: 250px; margin-left: 75px; 
    
}
h2 {text-align: center; font-weight: 700px;}
#anotherbox {
     display: flex;
    justify-content: space-around;
    align-items: center; 
}
.boxes { margin: 10px;
height: 100px; 
width: 100px;
border: solid blue; border-width: 2px; text-align: center; 

}
#subtextbox {
     display: flex;
    justify-content: space-around;
    align-items: center; 
}
.subtext {height: 100px; width: 100px;}

#quotesection { display: flex; flex-direction: column; align-items: center;
      background-color: #83ade7; 
}
.paratwo { 
    max-width: 500px; 
    font-style: italic; font-size: 28px;
}

.signed {
    text-align: right; margin-left: 250px;
}
#coverit {
    display: flex; justify-content: center;
}
#bannerbox { color: aliceblue; margin-left: 200px; margin-right: 200px; border-radius: 16px;
     display: flex; justify-content: space-around; align-items: center; 
     background-color: #386db8; width: 1000px; padding-top: 20px; padding-bottom: 20px;


}
#banner{ flex-shrink: 0; 

}
Footer {text-align: center; background-color: #1f2937; color: aliceblue; margin-top: 20px;
font-size: 12px; padding: 10px;
}
body {
    margin: 0;
    padding: 0;
}
#header, #herocontainer, #quotesection, footer {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.boxes {
    /* ...existing styles... */
    border-radius: 16px;


}